{% extends 'base.html' %}{% block base %}
<div class="">
    <div class="py-16">
        <div class="max-w-2xl mx-auto px-4 lg:max-w-5xl lg:px-0">
            <h1
                class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
            >
                About Us
            </h1>
            <div class="mt-8 prose text-justify">
                <p class="text-lg text-gray-700 leading-relaxed">
                    Kiseki is not just an e-commerce platform; it's a symbol of
                    excellence and innovation. We are proud to present ourselves
                    as an OEM (Original Equipment Manufacturer) platform, where
                    everything available for purchase is meticulously crafted by
                    our skilled artisans and engineers.
                </p>
                <p class="text-lg text-gray-700 leading-relaxed mt-4">
                    Our journey began with a simple yet powerful vision - to
                    create a platform that brings forth high-quality, authentic
                    products directly from the creators to the consumers. At
                    Kiseki, we believe in the magic of creation and the endless
                    possibilities it holds. Every product in our catalog tells a
                    story of dedication, craftsmanship, and passion.
                </p>
                <p class="text-lg text-gray-700 leading-relaxed mt-4">
                    What sets us apart is our commitment to excellence at every
                    step of the manufacturing process. From ideation to
                    creation, quality control to packaging, we ensure that each
                    product reflects our unwavering standards of quality and
                    authenticity. With Kiseki, you don't just buy a product; you
                    embark on a journey of discovery and wonder.
                </p>
                <p class="text-lg text-gray-700 leading-relaxed mt-4">
                    Join us in our quest to redefine the e-commerce landscape.
                    Experience the magic of Kiseki, where every purchase is a
                    testament to the extraordinary power of human creativity and
                    ingenuity.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
