{% extends 'base.html' %}{% block base %}
<div class="">
    <div class="py-16">
        <div class="max-w-2xl mx-auto px-4 lg:max-w-5xl lg:px-0">
            <h1
                class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
            >
                Privacy Policy
            </h1>
            <div class="mt-8 prose text-justify">
                <p class="text-lg text-gray-700 leading-relaxed">
                    This Privacy Policy describes how your personal information
                    is collected, used, and shared when you visit or make a
                    purchase from the Kiseki website (the "Site").
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">
                    Personal Information We Collect
                </h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    When you visit the Site, we automatically collect certain
                    information about your device, including information about
                    your web browser, IP address, time zone, and some of the
                    cookies that are installed on your device. Additionally, as
                    you browse the Site, we collect information about the
                    individual web pages or products that you view, what
                    websites or search terms referred you to the Site, and
                    information about how you interact with the Site. We refer
                    to this automatically-collected information as "Device
                    Information."
                </p>
                <p class="text-lg text-gray-700 leading-relaxed mt-4">
                    We collect Device Information using the following
                    technologies:
                </p>
                <ul class="list-disc pl-8 mt-4">
                    <li>Server logs</li>
                    <li>Google Analytics</li>
                </ul>

                <h2 class="text-2xl font-bold mt-8 mb-4">
                    Sharing Your Personal Information
                </h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    We do not share your Personal Information with third
                    parties. We use your Personal Information to provide you
                    with the products and services that you request.
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Data Retention</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    We retain your Personal Information only for as long as
                    necessary to provide you with our services and as described
                    in our Warranty Policy. However, we may also be required to
                    retain this information to comply with legal and regulatory
                    obligations, to resolve disputes, and to enforce our
                    agreements.
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Contact Us</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    For more information about our privacy practices, if you
                    have questions, or if you would like to make a complaint,
                    please contact us by e-mail at privacy@kiseki.com or by mail
                    using the details provided below:
                </p>
                <ul class="list-disc pl-8 mt-4">
                    <li>Email: support@kiseki.com</li>
                    <li>Phone: 01000000000</li>
                    <li>Address: 123 Malibag, Dhaka, Bangladesh</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
