{% extends 'base.html' %}{% block base %}
<div class="">
    <div class="py-16">
        <div class="max-w-2xl mx-auto px-4 lg:max-w-5xl lg:px-0">
            <h1
                class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl"
            >
                Terms of Service
            </h1>
            <div class="mt-8 prose text-justify">
                <p class="text-lg text-gray-700 leading-relaxed">
                    Please read these terms and conditions carefully before
                    using the Kiseki website (the "Service") operated by Kiseki
                    ("us", "we", or "our").
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Conditions of Use</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    By accessing or using the Service, you agree to be bound by
                    these Terms. If you disagree with any part of the terms,
                    then you may not access the Service.
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Content</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    Our Service allows you to post, link, store, share, and
                    otherwise make available certain information, text,
                    graphics, videos, or other material ("Content"). You are
                    responsible for the Content that you post on or through the
                    Service, including its legality, reliability, and
                    appropriateness.
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Changes</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    We reserve the right, at our sole discretion, to modify or
                    replace these Terms at any time. If a revision is material,
                    we will try to provide at least 30 days' notice prior to any
                    new terms taking effect. What constitutes a material change
                    will be determined at our sole discretion.
                </p>

                <h2 class="text-2xl font-bold mt-8 mb-4">Contact Us</h2>
                <p class="text-lg text-gray-700 leading-relaxed">
                    If you have any questions about these Terms, please contact
                    us:
                </p>
                <ul class="list-disc pl-8 mt-4">
                    <li>Email: support@kiseki.com</li>
                    <li>Phone: 01000000000</li>
                    <li>Address: 123 Malibag, Dhaka, Bangladesh</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
